@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "mediathing";
  src: url("/commitmono.ttf") format("opentype");
}

:root {
  --background: #aaa;
  --regular-color: #111;
  --regular-font: mediathing, Inter, system-ui, Avenir, Helvetica, Arial,
    sans-serif;

  --navbar-size: 3rem;
  --screen-minus-navbar: calc(100vh - var(--navbar-size));
}

body {
  @apply bg-[--background] text-[--regular-color] font-regular;
}
